Repository markshenouda/VibeRN: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

typecheck:
  run: npx tsc --noEmit
  stage_fixed: false

lint:
  run: npx eslint {staged_files} --fix
  stage_fixed: true

format:
  run: npx prettier --write {staged_files}
  stage_fixed: true

upate readme and fix some isues
  README.md
  package-lock.json
  package.json
  src/app/(examples)/components.tsx
  src/app/(tabs)/_layout.tsx
  src/components/ui/Checkbox.tsx
  src/components/ui/Icon.tsx
  src/components/ui/Modal.tsx
  src/components/ui/index.ts
Due: typecheck, lint, format

feat: adding drawer example
  .cursor/rules
  .github/copilot-instructions.md
  README.md
  docs/NAVIGATION.md
  package-lock.json
  package.json
  src/app/(drawer)/_layout.tsx
  src/app/(drawer)/favorites.tsx
  src/app/(drawer)/inbox.tsx
  src/app/(drawer)/index.tsx
  src/app/(drawer)/settings.tsx
  src/app/(tabs)/index.tsx
  src/app/_layout.tsx
Due: typecheck, lint, format

featL adding gemini cli rules
  .gemini/rules.md
Due: format

fix: links in drawer and details screens
  src/app/(drawer)/_layout.tsx
  src/app/details/[id].tsx
Due: typecheck, lint, format

fix: back button on auth flow
  src/components/patterns/Header.tsx
Due: typecheck, lint, format

update: add auth to the removables
  README.md
  scripts/clean-project.ts
  src/app/_layout.tsx
Due: typecheck, lint, format

fix drawer example location and navigation
  README.md
  src/app/(auth)/forgot-password.tsx
  src/app/(auth)/login.tsx
  src/app/(auth)/register.tsx
  src/app/(examples)/_layout.tsx
  src/app/(examples)/drawer/_layout.tsx
  src/app/(examples)/drawer/favorites.tsx
  src/app/(examples)/drawer/inbox.tsx
  src/app/(examples)/drawer/index.tsx
  src/app/(examples)/drawer/settings.tsx
  src/app/(tabs)/index.tsx
  src/app/_layout.tsx
  src/components/patterns/Header.tsx
Due: typecheck, lint, format

feat: add screenshots to the readme file
  README.md
  assets/screenshots/android-dark-mode.png
  assets/screenshots/android-home.png
  assets/screenshots/android-login.png
  assets/screenshots/ios-dark-mode.png
  assets/screenshots/ios-home.png
  assets/screenshots/ios-login.png
Due: format

update: screenshots location in the readme file
  README.md
Due: format

update: agent rules
  AGENTS.md
  README.md
Due: format

remove: generating new screens with a command
  .cursor/rules
  PLAN.md
  README.md
  docs/SCRIPTS.md
  package.json
  scripts/new-screen.ts
Due: typecheck, lint, format

remove: the plan
  PLAN.md
  docs/SCRIPTS.md
  scripts/clean-project.ts
Due: typecheck, lint, format

update: project icons
  assets/images/adaptive-icon.png
  assets/images/favicon.png
  assets/images/icon-source.png
  assets/images/icon.png
  assets/images/splash-icon.png
  assets/images/splash-source.png
  assets/images/splash.png
  scripts/generate-splash.ts
Due: typecheck, lint, format

update: organize the examples and remove the cleanup script
  .cursor/rules
  .gemini/rules.md
  AGENTS.md
  README.md
  package.json
  scripts/clean-project.ts
  src/app/(examples)/(auth)/_layout.tsx
  src/app/(examples)/(auth)/forgot-password.tsx
  src/app/(examples)/(auth)/login.tsx
  src/app/(examples)/(auth)/register.tsx
  src/app/(examples)/(tabs)/_layout.tsx
  src/app/(examples)/(tabs)/explore.tsx
  src/app/(examples)/(tabs)/index.tsx
  src/app/(examples)/(tabs)/profile.tsx
  src/app/(examples)/details/[id].tsx
  src/app/_layout.tsx
Due: typecheck, lint, format

fix: example routing bug
  src/app/(examples)/_layout.tsx
Due: typecheck, lint, format

fix: packages and node versions
  .nvmrc
  package-lock.json
  package.json
Due: format

update: readme installation instuctions
  README.md
Due: format

update: Agent instructions in the readme.md file
  README.md
Due: format

update: Readme.md file
  README.md
Due: format

refactor: the app routes to be easier for agents to clean
  .cursor/rules
  .gemini/rules.md
  .github/copilot-instructions.md
  AGENTS.md
  README.md
  docs/NAVIGATION.md
  src/app/+not-found.tsx
  src/app/_layout.tsx
  src/app/examples/_layout.tsx
  src/app/examples/auth/_layout.tsx
  src/app/examples/auth/forgot-password.tsx
  src/app/examples/auth/login.tsx
  src/app/examples/auth/register.tsx
  src/app/examples/components.tsx
  src/app/examples/details/[id].tsx
  src/app/examples/drawer/_layout.tsx
  src/app/examples/drawer/favorites.tsx
  src/app/examples/drawer/inbox.tsx
  src/app/examples/drawer/index.tsx
  src/app/examples/drawer/settings.tsx
  src/app/examples/forms.tsx
  src/app/examples/tabs/_layout.tsx
  src/app/examples/tabs/explore.tsx
  src/app/examples/tabs/index.tsx
  src/app/examples/tabs/profile.tsx
  src/app/index.tsx
Due: typecheck, lint, format

fix: dev start command
  .cursor/rules
  README.md
  docs/SCRIPTS.md
Due: format

refactor: optimize LLM context by reducing documentation duplication
  .gemini/rules.md
  .github/copilot-instructions.md
  AGENTS.md
  AI_INSTRUCTIONS.md
  CONTEXT_OPTIMIZATION_SUMMARY.md
  README.md
  docs/COMPONENT_PATTERNS.md
  src/components/forms/FormCheckbox.tsx
  src/components/forms/FormInput.tsx
  src/components/forms/FormRadioGroup.tsx
  src/components/forms/FormSelect.tsx
  src/components/forms/FormSwitch.tsx
  src/components/ui/Button.tsx
  src/design-system/theme.ts
  src/design-system/tokens/colors.ts
Due: typecheck, lint, format

Add MIT License to project
  LICENSE
Due: none

refactor: optimize LLM context by reducing documentation duplication (#1)
  .gemini/rules.md
  .github/copilot-instructions.md
  AGENTS.md
  AI_INSTRUCTIONS.md
  CONTEXT_OPTIMIZATION_SUMMARY.md
  README.md
  docs/COMPONENT_PATTERNS.md
  src/components/forms/FormCheckbox.tsx
  src/components/forms/FormInput.tsx
  src/components/forms/FormRadioGroup.tsx
  src/components/forms/FormSelect.tsx
  src/components/forms/FormSwitch.tsx
  src/components/ui/Button.tsx
  src/design-system/theme.ts
  src/design-system/tokens/colors.ts
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx}
  format: any of: *.{ts,tsx,js,jsx,json,md}
